page-addclosure {

	.item {
		padding: 5px 25px 0px 25px;
	}

	button{
        color: #fff;
        width: 100%;
        font-size: 16px;
        margin: 10px 0px 10px 0px;
        padding: 15px 0px;
        background: #48dbfb;
    }


}
